<%#
Alert
Provide contextual feedback messages for typical user actions
with the handful of available and flexible alert messages.
@param message [String] * the actual message
@param type [Symbol] (:primary) styles it differently
@param heading [String] (nil) the heading
@param dismissible [Boolean] (true) let it be dismissed
%>

<% message = body.present? ? body : message %>
<% return if message.blank? %>
<% dismissible = local_assigns.fetch(:dismissible, true) %>
<% status = local_assigns.fetch(:status, :default) %>
<% title = local_assigns.fetch(:title, false) %>
<% button_label = local_assigns.fetch(:button_label, false) %>


<div class="alert alert-<%= status %>">
  <% if dismissible %><a class="close" href="#"></a><% end %>
  <dl>
    <% if title %><dt><%= title %></dt><% end %>
    <dd><%= message %></dd>
  </dl>
  <% if button_label %>
    <div>
      <a href="<%= button_url %>" class="btn btn-outline"><%= button_label %></a>
    </div>
  <% end %>
</div>
